.jumbotron {
  background: linear-gradient(#81C7D4,white);
  background-position: center;
  background-size: 100% auto;
  color: white;
}

.display-3 {
  color: #2B5F75;
  text-align: center;
}

.lead {
  color: #2B5F75;
  text-align: center;
}

.item{
  font-size: 20px;
}

.top {
  margin-top: 50px;
  margin-bottom: 30px;
}

.ui-container {
  margin-bottom: 30px;
}